<h2>Classificação dos produtos</h2>

<ul>
  @for (produto of produtos; track produto.id) {
    <li>
      {{ produto.nome }} - Quantidade: {{ produto.quantidade }}
      <span
        [ngClass]="{
          'sem-estoque': produto.quantidade === 0,
          'estoque-baixo': produto.quantidade >= 1 && produto.quantidade <= 5,
          'estoque-disponivel': produto.quantidade > 5
        }"
      >
        @if (produto.quantidade === 0) {
          Sem estoque
        } @else if (produto.quantidade <= 5) {
          Estoque baixo
        } @else {
          Estoque disponível
        }
      </span>
    </li>
  }
</ul>