<h2>Promoção e estilo dinâmico</h2>

<ul>
  <li *ngFor="let produto of produtos">
    <p [ngClass]="{ promocao: produto.promocao }">{{ produto.nome }}</p>
    <p [ngStyle]="{ color: produto.promocao ? '#c62828' : '#222' }">
      Preço: {{ produto.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
    </p>
    <p>Quantidade disponível: {{ produto.quantidade }}</p>
    <p *ngIf="produto.promocao">Produto em promoção</p>
    <button (click)="alternarPromocao(produto)">
      {{ produto.promocao ? 'Desativar promoção' : 'Ativar promoção' }}
    </button>
  </li>
</ul>