ul {
  padding-left: 24px;
}

li {
  padding: 8px;
}

.posicao-par {
  background-color: #dceeff;
}

.posicao-impar {
  background-color: #f3f3f3;
}

.primeira-disciplina {
  font-weight: bold;
}

.ultima-disciplina {
  border: 2px solid #333;
}